//naturalize body and html
html, body {
  margin:0;
  background-color:#e3e3e3;
  height: 0;
}

.col-1 {
  width: 50%;
  display: block;
  float:left;
}
.col-2 {
  width: 50%;
  display: block;
  float:right;
}

@media screen and (max-width:770px) {
  .col-1 {
    display: inline-block;
    width: 100%;
  }
  .col-2 {
    display: inline-block;
    width: 100%;
  }
}

//1-tools
@import "1-tools/variables.scss";
@import "1-tools/mixins.scss";
//2-sections
@import "2-sections/header.scss";
@import "2-sections/about.scss";
@import "2-sections/submit.scss";
@import "2-sections/result.scss";
//3-modueles
@import "3-modueles/slider.scss";
