.header {
  background-attachment: fixed;
  margin: 0;
  height: 700px;
  font-family: $font-family;
  width: 100%;
  .container {
    height: 650px;
    width: inherit;
    .logo {
      float:right;
      padding:25px;
    }

    .text-container {
      width: 100%;
      padding-top:25%;
      .kicker {
        border:1px gray dashed;
        background-color:rgba(#000000, 0.5);
        @include border-radius(50px);
        text-align: center;
        color:$light;
        width: 50%;
        margin:0 auto;
        text-transform: uppercase;
      }
      .title {
        margin:25px auto;
        border:1px gray dashed;
        @include border-radius(50px);
        background-color:rgba(#000000, 0.5);
        width: 40%;
        color:$light;
        text-align:center;
      }
    }
  }
}
